body { 
	font-family: Verdana, Helvetica CE, Arial CE, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    background-color: white;
    color: black;
    margin: 0px;
}

table { font-size: 9pt }

.title, .subtitle { 
	margin-top: 10px; 
	color: navy; 
	font-size: 12pt; 
	background-color: #B0CBFC;
	padding: 3px;
}

.programlisting,
.programlistingco,
.screen { background-color: #e0e0e0;
           padding: 5pt;
           margin: 5pt}

:hover { color: red;
          text-decoration: underline; }

a { text-decoration: none;
     color: blue; }

.navfooter, .navheader { background-color: #80DDFF;}

.chapter, .refentry,
.book, .reference,
.preface, .colophon,
.section, .bibliography
	{ margin-left: 10px;
           margin-right: 10px; }